__pycache__/
/output/
/checkpoints/
/log/
/wandb/
/LIBERO/
/RMBench/
/RoboTwin/
/datasets/
/experiments/rollouts/
/experiments/logs/
/experiments/libero_eval_logs/
/configs/robotwin_seen_instruction.json
/eval_results_table.log

/output_libero_all_image_action/
/checkpoints_libero_all_image_action/
/output_libero_all_action/
/checkpoints_libero_all_action/
/output_robotwin_all_image_action/
/checkpoints_robotwin_all_image_action/
/output_robotwin_all_action/
/checkpoints_robotwin_all_action/

/output_robotwin_seen_tasks_image_action/
/checkpoints_robotwin_seen_tasks_image_action/
/output_robotwin_same_emb_videos_cotrain_image_action/
/checkpoints_robotwin_same_emb_videos_cotrain_image_action/
/output_robotwin_cross_emb_videos_cotrain_image_action/
/checkpoints_robotwin_cross_emb_videos_cotrain_image_action/
/output_rmbench_battery_try_image_action_language/
/checkpoints_rmbench_battery_try_image_action_language/
/output_rmbench_blocks_ranking_try_image_action_language/
/checkpoints_rsmbench_block_ranking_try_image_action_language/
/output_rmbench_cover_blocks_image_action_language/
/checkpoints_rmbench_cover_blocks_image_action_language/
/output_rmbench_press_button_image_action_language/
/checkpoints_rmbench_press_button_image_action_language/
/flash_attn-2.8.3+cu128torch2.8-cp311-cp311-linux_x86_64.whl